/* ==================================================
   CARD PRINCIPAL
================================================== */

.card {
    max-width: 290px;
    margin-top: 4%;
    padding: 10px;

    display: flex;
    flex-direction: column;

    border: none;
    border-radius: 15px;

    /* Efeito vidro */
    background: rgba(104, 104, 104, 0.116);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    animation: cascade 0.5s ease-in-out;
    transition: transform 0.3s ease;
}


/* Efeito ao passar o mouse */

.card:hover {
    transform: translateY(-5px);
}


/* ==================================================
   CARD DO MENU
================================================== */

.card-menu {
    max-width: 270px;
    margin-left: 40px;
    margin-bottom: 2%;

    gap: 20px;
}


/* ==================================================
   CONTEÚDO DO CARD
================================================== */

.card-title {
    margin-top: 10px;

    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;

    color: var(--cta);
}


.card-description {
    margin-top: 5px;

    font-family: "Syne", sans-serif;
    font-size: 1rem;
    font-weight: 400;

    color: var(--text);
}


/* ==================================================
   IMAGEM DO CARD
================================================== */

.card-img img {
    width: 100%;

    border-radius: 15px;
}


/* ==================================================
   CONTAINER DOS CARDS
================================================== */

.cards-container {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;

    gap: 10px;
}


/* ==================================================
   PREÇO
================================================== */

.price {
    margin-top: auto;

    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: start;

    color: var(--cta);
}


/* ==================================================
   RESPONSIVIDADE
================================================== */

@media (max-width: 768px) {

    .card-menu {
        max-width: 270px;
        margin-left: -20px;
        margin-bottom: 2%;

        gap: 10px;
    }

}