.footer{
    display: flex;
    min-width:100%;
    background:var(--base);
    padding: 10px;
    margin: 0px ;
    color: var(--text-secondary);
    font-weight: 500;
    font-size: 1.2rem;
    font-family: 'Syne', sans-serif;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px){
    .footer{
        font-size:0.7rem
    }
}
