/* Header da página */
.header {
    display: flex;        /* ativa flexbox */
    min-width: 100%;      /* tenta ocupar toda largura */

    background: var(--base); /* fundo do header */

    padding: 10px;        /* espaço interno */
}