
/* Botão do WhatsApp */
.whatsapp-btn {
    display: inline-flex; /* coloca ícone + texto lado a lado */
    align-items: center;  /* centraliza verticalmente */
    justify-content: center;
    gap: 8px;             /* espaço entre ícone e texto */

    padding: 4px 10px;

    background-color: #25D366; /* verde oficial WhatsApp */
    color: white;

    text-decoration: none;

    border-radius: 100%; /* deixa totalmente circular */

    transition: transform .3s ease; /* animação suave no hover */
}

/* Hover do botão */
.whatsapp-btn:hover {
    transform: scale(1.1); /* aumenta levemente */

    box-shadow: 0px 0px 8px #25D366; /* glow verde */
}

/* Ícone do WhatsApp */
.bi-whatsapp {
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .bi-whatsapp{
        font-size: 1.8rem;
    }
}